<div class="container vh-100">
  <div class="row justify-content-center h-100">
      <div class="card my-auto shadow login-form">
          <div class="card-body px-5">
              <div class="text-center text-large">
                <i class="fa fa-unlock text-large" style="color: green;" ></i>
              </div>
              <div class="text-center">
                  <h2>Register Here</h2>
              </div>
              <p style="color: lightslategray; text-align: center;" class="mb-4">
                 Please enter your login
                  details</p>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="text-center">
                <div class="form-group my-3">
                  <input type="test" id="name" placeholder="Name" class="form-control" formControlName="name"
                      name="name" />
              </div>
                  <div class="form-group my-3">
                      <input type="email" id="email" placeholder="Email" class="form-control" formControlName="email"
                          name="email" />
                  </div>
                  <div class="form-group my-3">
                      <input type="password" id="password" placeholder="Password" class="form-control"
                          formControlName="password" name="password" />
                  </div>
                  <input type="submit" class="btn btn-primary submit-btn" value="Login" name="">
              </form>
          </div>
          <div class="card-footer text-right " style="display:flex ; justify-content:space-between">
              <!-- <small><a routerLink="../forgot-password">Forgot Password</a></small> -->
              <small><a routerLink="/login">Back to Login!!</a></small>
          </div>
          <!-- <div class="card-footer text-right">
          </div> -->
      </div>
  </div>
</div>

